.greetCard {
  background-color: #960018;
  margin-top: 50vh;

  > h1 {
    font-family: var(--monospace-font);
    font-size: 4rem;
    white-space-collapse: preserve;
  }

  > p {
    max-width: 30rem;
  }
}
