.greetCard {
  /* Use padding to avoid collapsing margins */
  padding-top: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  > h1 {
    font-family: var(--monospace-font);
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  .verticalNav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 50rem) {
    > div > .verticalNav {
      display: none;
    }
  }

  @media screen and (max-width: 50rem) {
    > div > .horizontalNav {
      display: none;
    }
  }
}
