.greetCard {
  background-color: #960018;
  margin-top: 50vh;

  > h1 {
    font-family: var(--monospace-font);
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  @media screen and (min-width: 50rem) {
    > div > .verticalNav {
      display: none;
    }
  }

  @media screen and (max-width: 50rem) {
    > div > .horizontalNav {
      display: none;
    }
  }
}
