.gridRow {
  width: 100%;
  max-height: 33vh;
  display: table;
  border-collapse: collapse;
}

.gridItem {
  display: table-cell;
  vertical-align: top;
}

.grid img {
  max-width: 100%;
  height: auto;
  display: block;
}