.article {
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.article img {
  max-width: 100%;
  max-height: calc(100vh - 1rem);
  align-self: center;
}

.toolbar,
.toolbar > * {
  position: fixed;
}

.toolbar > #close,
.toolbar > #prev,
.toolbar > #more {
  left: 1rem;
}

.toolbar > #share,
.toolbar > #next {
  right: 1rem;
}

.toolbar > #close,
.toolbar > #share {
  top: 0.5rem;
}

.toolbar > #prev,
.toolbar > #next {
  top: 50vh;
}

.toolbar > #more {
  bottom: 0.5rem;
}

.photoInfo {
  display: flex;
  align-items: top;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.photoInfo svg {
  margin-top: 0.2rem;
  flex-basis: 1.5rem;
  min-width: 1.5rem;
}

.photoInfo p {
  margin-left: 0.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.altArrow {
  display: inline-grid;
}

.altArrow div {
  grid-row: 1;
  grid-column: 1;
  transition: opacity 0.3s ease-in;
}

.photoInfoButton {
  display: grid;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.infoBlock {
  max-width: 80rem;
}
