.article {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.toolbar {
  min-height: var(--page-padding-large);
  position: relative;
  width: 100%;

  > a.hidden {
    display: hidden;
    pointer-events: none;
  }

  > #close {
    position: fixed;
    left: 1rem;
    top: 1rem;
  }

  > #prev {
    position: fixed;
    left: 33vw;
    top: 1rem;
  }

  > #next {
    position: fixed;
    right: 33vw;
    top: 1rem;
  }

  > #share {
    position: fixed;
    right: 1rem;
    top: 1rem;
    display: flex;
    align-items: center;

    > p {
      max-width: 0;
      margin-top: 0;
      overflow: hidden;
    }
    &.animate > p {
      animation-name: copiedAnimation;
      animation-duration: 1s;
      animation-timing-function: ease-out;
    }
  }
}

@keyframes copiedAnimation {
  0% {
    max-width: 0;
  }
  30% {
    max-width: 5rem;
  }
  70% {
    max-width: 5rem;
  }
  100% {
    max-width: 0;
  }
}

@media screen and (min-width: 50rem) {
  .toolbar {
    > #next {
      position: fixed;
      right: 1rem;
      top: 50vh;
    }

    > #close {
      position: fixed;
      left: 1rem;
      top: 1rem;
    }

    > #prev {
      position: fixed;
      left: 1rem;
      top: 50vh;
    }

    > #share {
      position: fixed;
      right: 1rem;
      top: 1rem;
    }
  }
}

.loading {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;

  transition: opacity 0.3s ease-in-out;

  > svg {
    display: block;
    margin: 0 auto;
    z-index: 10;
  }
}

.photoTop {
  width: 100%;
  max-height: 80vh;
  display: grid;

  & > * {
    grid-column: 1;
    grid-row: 1;
  }
}

.photoContainer {
  width: 100%;
  margin: auto;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
  position: relative;
}

.photoInfo {
  display: flex;
  align-items: top;
  font-size: 1.5rem;
  color: rgb(200, 200, 200);
  margin-top: 0.5rem;

  svg {
    margin-top: 0.2rem;
    flex-basis: 1.5rem;
    min-width: 1.5rem;
  }

  p {
    margin-left: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  &:first-child {
    color: white;
    font-size: 2rem;
  }
}

.hidden {
  opacity: 0;
}

.photoInfoButton {
  display: grid;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.infoBlock {
  margin-top: 2rem;
  width: 100%;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 2.5rem auto;

  > .icon {
    grid-column: 1;

    margin-top: 1rem;
    height: 1.7rem;
    aspect-ratio: 1;
    width: auto;
  }

  > .text {
    grid-column: 2;
  }

  > p.text,
  > .text p {
    font-size: 1.5rem;
  }

  > .tags {
    margin-top: 1rem;
  }
}

.tagLink {
  display: inline-flex;
  margin-top: 0.6rem;
}
