.gridRow {
  width: 100%;
  display: table;
  border-collapse: collapse;
}

.gridItem {
  display: table-cell;
  vertical-align: top;
  position: relative;
  padding: 0.1rem;
}

.gridItem img,
.gridItem svg {
  max-width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  background: rgba(0.3, 0.3, 0.3, 0);
  width: 100%;
  height: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition:
    opacity,
    background 0.1s;
}

.gridItem:hover .overlay {
  background: rgba(0.3, 0.3, 0.3, 0.3);
  color: white;
}

.gridItem:hover .overlay p {
  opacity: 100%;
}

.overlay p {
  margin-top: 0;
  padding-left: 1rem;
  font-size: 1.5rem;
  opacity: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overlay svg {
  padding-right: 1rem;
  color: white;
}
