.container {
    text-align: left;
    display: inline-grid;
    height: 100%;
    align-items: center;
}

.container>.default,
.container>.alt {
    grid-row: 1;
    grid-column: 1;
    transition: opacity 0.3s ease-in;
    white-space: pre;
}

.container>.default {
    opacity: 100%;
}

.container:hover>.default {
    opacity: 0%;
}

.container>.alt {
    opacity: 0%;
}

.container:hover>.alt {
    opacity: 100%;
}