.headerWrapper {
  background-color: #960018;
}

.header {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;

  .altNav {
    display: grid;

    /* Position both elements in the same place */
    .headerNav,
    .hamburgerMenu {
      grid-row: 1;
      grid-column: 1;
    }

    /* On wide screens disable hamburger menu and show
       all nav menu buttons in header */
    @media screen and (min-width: 50rem) {
      .hamburgerMenu {
        display: none;
      }
    }

    @media screen and (max-width: 50rem) {
      .headerNav {
        display: none;
      }
    }
  }

  .hamburgerMenu {
    display: flex;
    align-items: center;
    justify-content: end;
    button {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      outline: inherit;
      cursor: pointer;
    }
  }
}

.name {
  position: relative;
  color: white;
  font-family: var(--monospace-font);
  font-weight: bold;
  font-style: normal;
  font-size: 2em;
  text-decoration: none;
  height: 100%;
  align-items: center;

  transition: color 0.5s;

  .nameUnderline {
    position: absolute;

    background-color: var(--link-focus);
    border-radius: 0.1rem;

    left: 0;
    width: 0;
    top: 2.6rem;
    height: 0.2rem;

    transition: width 0.2s ease-in-out;
  }

  @media (hover: hover) {
    &:hover .nameUnderline {
      width: 100%;
    }
  }
}

.verticalNav {
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}
