:where(.container) {
  display: block;
  transition: opacity 0.3s ease-in-out;
  position: relative;
  /*
    Fix for https://issues.chromium.org/issues/41333059
    both original problem of corners leaking still present in some
    chromiums like brave and also the new bug after the supposed "fix"
    */
  backdrop-filter: blur(0px);

  .hidden {
    opacity: 0;
  }

  > img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s ease-in-out;
    border-radius: 1rem;
  }

  > div.loading {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: opacity 0.3s ease-in-out;

    > svg {
      display: block;
      margin: 0 auto;
      z-index: 10;
    }
  }
}
