.navLink {
  /* color: white; */
  font-family: var(--monospace-font);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  font-size: 1.5em;
  transition: color 0.5s;
  display: flex;
  align-items: center;
  &:hover {
    color: var(--link-focus);
  }
}

.headerNav {
  display: grid;
  overflow: hidden;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  width: fit-content;
  padding-bottom: 0.4rem;

  .navFocus {
    --extra-width: -1.5rem;
    --show: 0;
    --index: 0;
    position: absolute;
    background-color: var(--link-focus);
    left: calc(var(--index) * (1 / 3) * 100%);
    top: 2.2rem;
    width: calc((100% / 3 + var(--extra-width)) * var(--show));
    align-self: center;
    height: 0.2rem;
    border-radius: 0.1rem;
    transition:
      width 0.2s ease-in-out,
      left 0.2s ease-in-out 0.2s;
  }

  > a:hover ~ .navFocus {
    --show: 1 !important;
    transition:
      width 0.2s ease-in-out 0.2s,
      left 0.2s ease-in-out;
  }

  > a:nth-of-type(1):hover ~ .navFocus {
    --index: 0 !important;
  }
  > a:nth-of-type(2):hover ~ .navFocus {
    --index: 1 !important;
  }
  > a:nth-of-type(3):hover ~ .navFocus {
    --index: 2 !important;
  }

  /* align-items: center; */
  a {
    list-style: none;
    margin-right: 1.5rem;
    text-align: center;
    text-decoration: none;
    z-index: 3;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.dropDown {
  overflow: hidden;

  .navLink {
    margin-top: 1rem;
  }
}
