.navLink {
  display: flex;

  font-family: var(--monospace-font);
  font-weight: bold;
  font-style: normal;
  font-size: 1.5em;
  text-decoration: none;
}

.headerNav {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: stretch;

  width: fit-content;
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;

  --link-padding: 0.7rem;

  .navFocus {
    --extra-width: -1.3rem;
    --show: 0;
    --index: 0;

    position: absolute;

    background-color: var(--link-focus);
    border-radius: 0.1rem;

    top: 2.6rem;
    left: calc(var(--index) * (1 / 3) * 100% + var(--link-padding));

    width: calc((100% / 3 + var(--extra-width)) * var(--show));
    height: 0.2rem;

    transition:
      width 0.2s ease-in-out,
      left 0.2s ease-in-out 0.2s;
  }

  @media (hover: hover) {
    > a:hover ~ .navFocus {
      --show: 1 !important;
      transition:
        width 0.2s ease-in-out 0.2s,
        left 0.2s ease-in-out;
    }

    > .navLink:nth-of-type(1):hover ~ .navFocus {
      --index: 0 !important;
    }
    > .navLink:nth-of-type(2):hover ~ .navFocus {
      --index: 1 !important;
    }
    > .navLink:nth-of-type(3):hover ~ .navFocus {
      --index: 2 !important;
    }
  }

  .navLink {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    align-items: center;
    justify-content: center;

    transition: color 0.5s;
  }
}

.dropDown {
  overflow: hidden;

  .navLink {
    margin-top: 1rem;
  }
}
