.link {
  color: #b318f0;
}

main {
  min-height: calc(100vh - 70px);
  text-align: left;
  padding-top: 70px;
  position: relative;
  padding-left: 3em;
  padding-right: 3em;
  color: white;
  font-size: 18px;
}

h1 {
  font-size: 4rem;
  margin-top: 2rem;
  margin-bottom: 0;
}

h2 {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-top: 0.7em;
  margin-bottom: 0;
}

p {
  margin-top: 1rem;
  margin-bottom: 0;
}