@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src:
    url(@fontsource/roboto/files/roboto-latin-400-normal.woff2) format("woff2"),
    url(@fontsource/roboto/files/roboto-latin-400-normal.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src:
    url(@fontsource/jetbrains-mono/files/jetbrains-mono-latin-400-normal.woff2)
      format("woff2"),
    url(@fontsource/jetbrains-mono/files/jetbrains-mono-latin-400-normal.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --font: "Roboto", Arial, sans-serif;
  --monospace-font: "JetBrains Mono", "Courier New", monospace;

  --page-padding-large: 4rem;
  --page-padding-small: 1rem;
  --page-padding: var(--page-padding-small);

  --background: #131418;
  --link-focus: #ff9000;
  --link-focus-light: #5e3501;
  --tag-unfocused: #777777;
  --tag-unfocused-light: #282828;
}

@media screen and (min-width: 50rem) {
  :root {
    --page-padding: var(--page-padding-large);
  }
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes hero-gradient-animation {
  0% {
    --c-0: hsla(236, 84%, 6%, 1);
    --x-0: 58%;
    --y-0: 48%;
    --s-start-0: 15%;
    --s-end-0: 77%;
    --c-1: hsla(219, 79%, 2%, 1);
    --x-1: 42%;
    --y-1: 50%;
    --s-start-1: 16%;
    --s-end-1: 89%;
    --c-2: hsla(228, 70%, 2%, 1);
    --x-2: 14%;
    --y-2: 51%;
    --s-start-2: 12%;
    --s-end-2: 58%;
    --c-3: hsla(216, 86%, 3%, 1);
    --x-3: 58%;
    --y-3: 36%;
    --s-start-3: 20%;
    --s-end-3: 64%;
    --c-4: hsla(240, 100%, 6%, 1);
    --x-4: 39%;
    --y-4: 34%;
    --s-start-4: 9%;
    --s-end-4: 74%;
  }

  50% {
    --c-0: hsla(219, 89%, 3%, 1);
    --x-0: 78%;
    --y-0: 9%;
    --s-start-0: 4%;
    --s-end-0: 73%;
    --c-1: hsla(220, 72%, 9%, 1);
    --x-1: 76%;
    --y-1: 36%;
    --s-start-1: 17%;
    --s-end-1: 71%;
    --c-2: hsla(230, 61%, 4%, 1);
    --x-2: 56%;
    --y-2: 87%;
    --s-start-2: 18%;
    --s-end-2: 84%;
    --c-3: hsla(237, 92%, 9%, 1);
    --x-3: 25%;
    --y-3: 20%;
    --s-start-3: 1%;
    --s-end-3: 86%;
    --c-4: hsla(227, 71%, 5%, 1);
    --x-4: 47%;
    --y-4: 21%;
    --s-start-4: 17%;
    --s-end-4: 76%;
  }

  100% {
    --c-0: hsla(239, 93%, 7%, 1);
    --x-0: 58%;
    --y-0: 93%;
    --s-start-0: 10%;
    --s-end-0: 63%;
    --c-1: hsla(235, 47%, 3%, 1);
    --x-1: 9%;
    --y-1: 5%;
    --s-start-1: 0%;
    --s-end-1: 77%;
    --c-2: hsla(219, 91%, 7%, 1);
    --x-2: 69%;
    --y-2: 38%;
    --s-start-2: 6%;
    --s-end-2: 79%;
    --c-3: hsla(224, 72%, 6%, 1);
    --x-3: 43%;
    --y-3: 22%;
    --s-start-3: 8%;
    --s-end-3: 64%;
    --c-4: hsla(222, 88%, 4%, 1);
    --x-4: 5%;
    --y-4: 54%;
    --s-start-4: 16%;
    --s-end-4: 61%;
  }
}

@property --c-0 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(236, 84%, 6%, 1);
}

@property --x-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 58%;
}

@property --y-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 48%;
}

@property --s-start-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 15%;
}

@property --s-end-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 77%;
}

@property --c-1 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(219, 79%, 2%, 1);
}

@property --x-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 42%;
}

@property --y-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 50%;
}

@property --s-start-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 16%;
}

@property --s-end-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 89%;
}

@property --c-2 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(228, 70%, 2%, 1);
}

@property --x-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 14%;
}

@property --y-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 51%;
}

@property --s-start-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 12%;
}

@property --s-end-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 58%;
}

@property --c-3 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(216, 86%, 3%, 1);
}

@property --x-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 58%;
}

@property --y-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 36%;
}

@property --s-start-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 20%;
}

@property --s-end-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 64%;
}

@property --c-4 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(240, 100%, 6%, 1);
}

@property --x-4 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 39%;
}

@property --y-4 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 34%;
}

@property --s-start-4 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 9%;
}

@property --s-end-4 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 74%;
}

body {
  --c-0: hsla(236, 84%, 6%, 1);
  --x-0: 58%;
  --y-0: 48%;
  --c-1: hsla(219, 79%, 2%, 1);
  --x-1: 42%;
  --y-1: 50%;
  --c-2: hsla(228, 70%, 2%, 1);
  --x-2: 14%;
  --y-2: 51%;
  --c-3: hsla(216, 86%, 3%, 1);
  --x-3: 58%;
  --y-3: 36%;
  --c-4: hsla(240, 100%, 6%, 1);
  --x-4: 39%;
  --y-4: 34%;
  background-color: hsla(238, 46%, 3%, 1);
  background-image: radial-gradient(
      circle at var(--x-0) var(--y-0),
      var(--c-0) var(--s-start-0),
      transparent var(--s-end-0)
    ),
    radial-gradient(
      circle at var(--x-1) var(--y-1),
      var(--c-1) var(--s-start-1),
      transparent var(--s-end-1)
    ),
    radial-gradient(
      circle at var(--x-2) var(--y-2),
      var(--c-2) var(--s-start-2),
      transparent var(--s-end-2)
    ),
    radial-gradient(
      circle at var(--x-3) var(--y-3),
      var(--c-3) var(--s-start-3),
      transparent var(--s-end-3)
    ),
    radial-gradient(
      circle at var(--x-4) var(--y-4),
      var(--c-4) var(--s-start-4),
      transparent var(--s-end-4)
    );
  animation: hero-gradient-animation 20s linear infinite alternate;
  background-blend-mode: normal, normal, normal, normal, normal;
}
