@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src:
    url(@fontsource/roboto/files/roboto-latin-400-normal.woff2) format("woff2"),
    url(@fontsource/roboto/files/roboto-latin-400-normal.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src:
    url(@fontsource/jetbrains-mono/files/jetbrains-mono-latin-400-normal.woff2)
      format("woff2"),
    url(@fontsource/jetbrains-mono/files/jetbrains-mono-latin-400-normal.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --font: "Roboto", Arial, sans-serif;
  --monospace-font: "JetBrains Mono", "Courier New", monospace;

  --page-padding-large: 4rem;
  --page-padding-small: 1rem;
  --page-padding: var(--page-padding-small);

  --background-base: #000814;
  --background-color: var(--background-base);

  --link-focus: #ff9000;
  --link-focus-light: #5e3501;
  --tag-unfocused: #777777;
  --tag-unfocused-light: #282828;
}

@media screen and (min-width: 50rem) {
  :root {
    --page-padding: var(--page-padding-large);

    /* On wide screens add subtle gradient on sides */
    --background-color: hsl(240, 38%, 10%);
  }
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(
    to right,
    var(--background-color),
    var(--background-base) 25%,
    var(--background-base) 75%,
    var(--background-color)
  );
}

html {
  overscroll-behavior: none;
}

header,
main,
footer {
  transition:
    margin-left 0.5s,
    margin-right 0.5s;
  margin-left: var(--page-padding);
  margin-right: var(--page-padding);
}

header {
  margin-bottom: 1rem;
}

main {
  min-height: 100vh;
  text-align: left;
  position: relative;
  color: white;

  & > :first-child {
    margin-top: 0;
  }
}

:where(h1) {
  font-size: 4rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

:where(h2) {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

:where(p) {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 1.2rem;
}

:where(a) {
  color: white;
  transition: color 0.1s;
  text-decoration: none;
}
