name: Tests
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/determinate-nix-action@v3
      - name: Run Check
        run: |
          nix build .#checks.x86_64-linux.eslint --print-build-logs

  tsc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/determinate-nix-action@v3
      - name: Run Check
        run: |
          nix build .#checks.x86_64-linux.tsc --print-build-logs

  cog:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'pull_request' }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: DeterminateSystems/determinate-nix-action@v3
      - name: Run Check
        run: |
          git --no-pager log ${{ github.event.pull_request.base.sha }}..${{ github.event.pull_request.head.sha }}
          nix develop . --command cog check ${{ github.event.pull_request.base.sha }}..${{ github.event.pull_request.head.sha }}

  success:
    if: always()
    runs-on: ubuntu-latest

    needs:
      - eslint
      - cog
      - tsc

    steps:
      - name: Check other jovs
        uses: re-actors/alls-green@release/v1
        with:
          allowed-skips: cog
          jobs: ${{ toJSON(needs) }}
